# Top level .editorconfig file used for this project used everywhere
root = true

#### General Formatting Options ####

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
